body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(320deg,#eb92be,#ffef78,#63c9b4)
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 596px;
    max-height: 850px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 1; /* Fully visible by default */
    transition: opacity 0.3s; /* Smooth transition for visibility */
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
    animation: spin_357 0.5s linear;
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
.conv-btn{
    background-color: hsl(120, 65%, 45%);
}
.conv-btn:hover{
    background-color: hsl(120, 65%, 55%);
}
.conv-btn:active{
    background-color: hsl(120, 65%, 65%);
}
.mode-btn.active{
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    /* background-color: #007bff; Highlight color */
    animation: animate 1.5s linear infinite;
    color: #100f0f; /* black text for active button */
    border-color: #e30f9d;
    transition: 0.4s ease-in-out;
    transition-property: color;
}

 @keyframes animate {
        100% {
          filter: hue-rotate(360deg);
        }
      }
 @keyframes spin_357 {
        from {
          transform: rotate(0deg);
        }
      
        to {
          transform: rotate(360deg);
        }
      }
      
